
    <div class="course-banner">
        <img src="course1.jpg" alt="Web Development">
    </div>
    <div class="course-info">
        <h2>{{con.name}}</h2>
        <p class="course-description">Learn how to build dynamic, responsive websites using HTML, CSS, JavaScript, and more. This course covers everything you need to get started and master the art of web development.</p>
        <h3>Course Modules:</h3>
        <ul>
            <li>Introduction to HTML</li>
            <li>CSS Styling and Layout</li>
            <li>Responsive Web Design</li>
            <li>JavaScript Basics</li>
            <li>Working with APIs</li>
            <li>Advanced Web Development Techniques</li>
        </ul>
        <h3>Requirements:</h3>
        <ul>
            <li>Basic knowledge of computers</li>
            <li>Interest in programming</li>
        </ul>
        <button class="enroll-btn">Enroll Now</button>
    </div>
