
    <div class="course-banner">
        <img src="{{post.image.url}}" alt="web Development">
    </div>
    <div class="course-info">
        <h2>{{post.name}}</h2>
        <p class="course-description">{{post.description}}</p>
        <h3>Course Modules:</h3>
        <ul>
            <li>Introduction to HTML</li>
            <li>CSS Styling and Layout</li>
            <li>Responsive Web Design</li>
            <li>JavaScript Basics</li>
            <li>Working with APIs</li>
            <li>Advanced Web Development Techniques</li>
        </ul>
        <h3>Requirements:</h3>
        <ul>
            <li>Basic knowledge of computers</li>
            <li>Interest in programming</li>
        </ul>
        <button class="enroll-btn">Enroll Now</button>
    </div>
